<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Nextcloud Backup</title>

    <link rel='stylesheet' href='./css/style.css'/>
    <link rel="stylesheet" href="./css/custom_bootstrap.css">
    <link rel="stylesheet" href="./css/fa-all.min.css">
    <!--    <link rel="stylesheet" href="./css/toast.min.css">-->
    <!--  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--  <style>-->
    <!--    .modal input[disabled] {-->
    <!--      color: #757575 !important;-->
    <!--      border-color: #616161 !important;-->
    <!--    }-->
    <!--    -->
    <!--    .modal .input-field span.helper-text {-->
    <!--      color: #9e9e9e;-->
    <!--      -->
    <!--    }-->
    <!--    -->
    <!--    .modal div.row:last-child {-->
    <!--      margin-bottom: 0;-->
    <!--    }-->
    <!--    -->
    <!--    .modal div.col:last-child {-->
    <!--      margin-bottom: 0;-->
    <!--    }-->
    <!--    -->
    <!--    @media (min-width: 601px) {-->
    <!--      .header-box {-->
    <!--        height: 150px;-->
    <!--      }-->
    <!--    }-->
    <!--    -->
    <!--    .header-box .col {-->
    <!--      height: 100%;-->
    <!--    }-->
    <!--    -->
    <!--    .header-box .col .card {-->
    <!--      height: 100%;-->
    <!--    }-->
    <!--    -->
    <!--    .header-box .card-content {-->
    <!--      padding-top: 10px;-->
    <!--    }-->
    <!--    -->
    <!--    .header-box .card-content h5 {-->
    <!--      margin-top: 10px;-->
    <!--    }-->
    <!--    -->
    <!--    ul.dropdown-content a:hover {-->
    <!--      background-color: #101619 !important;-->
    <!--    }-->
    <!--    -->
    <!--    ul.dropdown-content li:hover {-->
    <!--      background-color: #101619 !important;-->
    <!--    }-->
    <!--    -->
    <!--    /* change autocomplete color */-->
    <!--    input:-webkit-autofill,-->
    <!--    input:-webkit-autofill:hover,-->
    <!--    input:-webkit-autofill:focus,-->
    <!--    input:-webkit-autofill:active {-->
    <!--      -webkit-box-shadow: 0 0 0 30px #263238 inset !important;-->
    <!--      -webkit-text-fill-color: white !important;-->
    <!--    }-->
    <!--    -->
    <!--    .select-dropdown {-->
    <!--      color: white;-->
    <!--    }-->
    <!--  </style>-->


</head>

<body class="">
<nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container">
        <a href="#" class="navbar-brand p-0">
            <img src="./images/Nextcloud_Logo.svg" height="40">
            <span class="align-middle d-none d-sm-inline">Nextcloud Backup</span>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item dropdown" id="setting-trigger">
                <a class="btn btn-outline-light bg-transparent nav-link active px-2" href="#" id="dropdown-settings"
                   role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-cogs"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown-settings">
                    <li><a href="#modal-settings-nextcloud" id="trigger-nextcloud-settings"
                           class="modal-trigger dropdown-item">Nextcloud</a>
                    </li>
                    <li><a href="#" id="trigger-backup-settings" class="dropdown-item">Backup</a></li>
                </ul>

            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="row mt-3 mb-3" id="header-box">
        <div class="col-12 col-md-3 mb-3 mb-md-0">
            <div class="card text-white bg-dark h-100 shadow border-secondary">
                <div class="card-header fw-bold h5 border-secondary border-bottom">Status</div>
                <div class="card-body">
                    <h6 id="status" class="white-text"></h6>
                    <div id="status-second-line" class="truncate mb-2 text-accent"></div>
                    <div class="progress bg-secondary invisible" id="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 mb-3 mb-md-0">
            <div class="card text-white bg-dark h-100 shadow border-secondary">
                <div class="card-header fw-bold h5 border-secondary border-bottom">Last Backup</div>
                <div class="card-body">
                    <h6 class="white-text" id="last_back_status"></h6>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3 mb-md-0">
            <div class="card text-white bg-dark h-100 shadow border-secondary">
                <div class="card-header fw-bold h5 border-secondary border-bottom">Next Backup</div>
                <div class="card-body">
                    <h6 class="white-text" id="next_back_status"></h6>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card text-white bg-dark h-100 shadow border-secondary">
                <div class="card-header fw-bold h5 border-secondary border-bottom">Manual</div>
                <div class="card-body">
                    <div class="w-100">
                        <a class="btn btn-success d-block mb-2" id="btn-backup-now">
                            Backup Now
                        </a>
                        <a class="btn btn-danger d-block" id="btn-clean-now">
                        Clean Now
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-6 mb-3 mb-lg-0">
            <div class="card text-white bg-dark h-100 shadow border-secondary">
                <div class="card-header fw-bold h4 text-center border-secondary border-bottom">Local Snapshots</div>
                <div class="card-body">
                    <div id="local_snaps"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 ">
            <div class="card text-white bg-dark h-100 shadow border-secondary">
                <div class="card-header fw-bold h4 text-center border-secondary border-bottom">Snapshots in Nextcloud
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold border-bottom border-secondary pb-2">Auto</h5>
                    <div id="auto_backups"></div>
                    <h5 class="card-title text-center fw-bold border-bottom border-secondary mt-3 pb-2">Manual</h5>
                    <div id="manual_backups"></div>
                </div>
            </div>
        </div>

    </div>
</div>


<%- include('modals/nextcloud-settings-modal') %>
<%- include('modals/backup-settings-modal') %>
<%- include('modals/loading-modal') %>
<div id="toast-container" class="toast-container" aria-live="polite" aria-atomic="true">
</div>


</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/jquery.min.js"></script>
<script src="./js/index.js"></script>
<script src="./js/toast.js"></script>
<script>

</script>

</html>
