<div id="modal-settings-backup" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header border-secondary">
                <h5 class="modal-title" id="exampleModalLabel">Backup Settings</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <label for="name-template" class="form-label">Backup name</label>
                        <input id="name-template" type="text" class="form-control" aria-describedby="help-template">
                        <span id="help-template" class="form-text">
                            You can find all available variables
                            <a target="_blank"
                               href="https://github.com/Sebclem/hassio-nextcloud-backup/blob/master/naming_template.md">
                                here
                            </a>
                        </span>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <label for="cron-drop-settings" class="form-label">Auto Backup</label>
                        <select id="cron-drop-settings" class="form-select">
                            <option value="0">Disable</option>
                            <option value="1">Daily</option>
                            <option value="2">Weekly</option>
                            <option value="3">Monthly</option>
                        </select>
                    </div>
                </div>
                <div class="row d-none mt-2">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <label for="timepicker" class="form-label">Hour </label>
                        <input type="time" class="form-control" id="timepicker">

                    </div>
                </div>

                <div class="row d-none mt-2">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <label for="cron-drop-day" class="form-label">Day</label>
                        <select id="cron-drop-day" class="form-select">
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                            <option value="3">Wednesday</option>
                            <option value="4">Thursday</option>
                            <option value="5">Friday</option>
                            <option value="6">Saturday</option>
                            <option value="0">Sunday</option>
                        </select>
                    </div>
                </div>

                <div class="row d-none mt-2">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <label for="cron-drop-day-month" class="form-label">Day of month</label>
                        <input type="number" class="form-control" id="cron-drop-day-month" min="1" max="28">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5>Folders</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <ul id="folders-div" class="list-group">

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5>Addons</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <ul id="addons-div" class="list-group">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <h4>Auto Clean Settings</h4>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-md-5 offset-md-1">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" id="auto_clean_local" type="checkbox">
                                    <label class="form-check-label" for="auto_clean_local">Auto Clean Local Snapshots</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label for="local-snap-keep" class="form-label">Local snapshot to keep</label>
                                <input type="number" class="form-control" id="local-snap-keep" min="0">
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" id="auto_clean_backup" type="checkbox">
                                    <label class="form-check-label" for="auto_clean_backup">Auto Clean Nextcloud Snapshots</label>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label for="backup-snap-keep" class="form-label">Nextcloud snapshot to keep</label>
                                <input type="number" class="form-control" id="backup-snap-keep" min="0">
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="modal-footer border-secondary">
                <button data-bs-dismiss="modal" class="btn btn-danger"><b>Cancel</b></button>
                <button class="btn btn-success" id="save-backup-settings"><b>Save</b></button>

            </div>
        </div>
    </div>
</div>
