<div class="modal" id="loading-modal" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog border-secondary">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header border-secondary d-flex justify-content-center">
                <h3 class="modal-title fw-bold">Loading</h4>
            </div>
            <div class="modal-body text-center">
                <div class="spinner-border text-accent border-5" style="width: 5rem; height: 5rem" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

    </div>
</div>
</div>