<div id="modal-settings-nextcloud" class="modal fade" xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header border-secondary">
                <h5 class="modal-title" id="exampleModalLabel">Nextcloud Settings</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row d-none">
                    <div class="col-12 col-md-10 offset-md-1 text-center alert alert-danger" role="alert" id="nextcloud_settings_message">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-check form-switch">
                            <input class="form-check-input" id="ssl" type="checkbox">
                            <label class="form-check-label" for="ssl">SSL</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 invisible">
                        <div class="form-check form-switch">
                            <input class="form-check-input" id="self_signed" type="checkbox">
                            <label class="form-check-label" for="ssl">Accept Self-signed certificate</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="hostname" class="form-label">Hostname</label>
                        <input id="hostname" type="text" class="form-control" aria-describedby="hostname-help">
                        <div id="hostname-help" class="form-text">exemple.com:8080</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-md-6">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" type="text" class="form-control">
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" type="password" class="form-control" aria-describedby="password-help">
                        <div id="password-help" class="form-text">
                            !!! Use App Password !!! See
                            <a target="_blank"
                               href="https://github.com/Sebclem/hassio-nextcloud-backup#nextcloud-config">
                                doc
                            </a>
                            for more information.
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="back-dir" class="form-label">Backup Directory</label>
                        <input id="back-dir" type="text" class="form-control" aria-describedby="dir-help">
                        <div id="dir-help" class="form-text">Default: /Hassio Backup/</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-secondary">
                <button data-bs-dismiss="modal" class="btn btn-danger"><b>Cancel</b></button>
                <button class="btn btn-success" id="save-nextcloud-settings"><b>Save</b></button>

            </div>
        </div>

    </div>


</div>