<div id="modal-restore" class="modal  blue-grey darken-4 white-text">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 center">
                <h4>Restore snapshot</h2>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center divider">
                </div>
            </div>
            <div class="row" style="margin-top: 40px;">
                <h5 class="center">Are you sure you want to restore this snapshot ?</h5>
                <h6 class="center">This will remplace all your data !</h6>
            </div>
        </div>
        <div class="modal-footer blue-grey darken-4">
            <a href="#!" id="confirm-restore" class="waves-effect waves-green btn green modal-close">Confirm</a>
            <a href="#!" class="modal-close waves-effect waves-green btn red">Cancel</a>
            
        </div>
    </div>